<div ng-include="headerUrl"></div>

<div class="row">

  <div class="col s12">
    <div class="card" ng-if="!loading">
      <div class="card-content">
        <span class="card-title">{{recipe.name}}</span>

        <p>{{recipe.description}}</p>

        <hr>

        <div class="row">
          <div class="col s3">
            <p><strong>Ingredients</strong></p>
            <ul>
              <li ng-repeat="item in recipe.recipes_items">
                <span>{{item.quantity}}</span>
                <span>{{item.product.unit}}</span>
                <span>{{item.product.name}}</span>
              </li>
            </ul>
          </div>
          <div class="col s9">
            <p><strong>Steps</strong></p>
            <div class="row" ng-repeat="step in recipe.recipes_steps">
              <div class="col s1">
                Step #{{$index}}
              </div>
              <div class="col s11">
                {{step.description}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-action">
        <a ng-click="functions.cancelRecipe()" class="btn red">Cancel</a>
        <a ng-click="functions.finished()" class="btn green">Finished</a>
      </div>
    </div>
  </div>



</div>

<script>
//	$(".selection").material_select();
</script>