/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}


body {
  background: url("images/background-2.jpg") repeat;
  background-size: 100%;

  background-blend-mode: lighten;
}






/* MAIN */
.last_product {
  width : 100%;
  display : flex;
  justify-content: space-between;
}

.product_selection:hover {
  background-color : indigo;
  color: white;
  /*filter: brightness(75%);*/
}


/* Adding product */
.adding_product {

}

.full-size {
  display : flex;
  justify-content: space-between;
}

.navbar_margin {
  margin-bottom: 1vh;
}



.centered {
  display : flex;
  justify-content: center;
  align-items: center;
}