<div ng-include="headerUrl"></div>




<div class="row">
    <div class="col s12 m12 l6">
        <div class="row">
            <div class="col s12 m12">
                <div class="card" ng-if="!loading">
                    <div class="card-content">
                        <span class="card-title">My Pantry - {{fridge_id}}</span>
                        <ul>
                            <li class="row text-center">
                                <span class="col s4">
                                    <strong>Name</strong>
                                </span>
                                <span class="col s4">
                                    <strong>Limit date</strong>
                                </span>
                                <span class="col s4">
                                    <strong>Quantity</strong>
                                </span>
                            </li>
                        </ul>
                        <ul>
                            <li ng-repeat="item in items" class="row"><span class="col s4">{{ item.product.name }}</span><span class="col s4">{{item.limit_date | date : 'dd/MM/yyyy'}}</span><span class="col s4 text-right">{{ item.quantity }} {{ item.product.unit}}</span> </li>
                        </ul>
                    </div>
                    <div class="card-action">
                        <!--<a href="#">Find a receipe</a>-->
                        <!--<a href="#">See my Pantry</a>-->
                        <a class="waves-effect waves-light" ng-click="prepareItemAdding()">Add product</a>
                    </div>
                </div>
            </div>


            <div class="col s12"  ng-if="addItem.addingProduct">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Add a product</span>
                        <ul ng-if="addItem.waitingForProduct">
                            <li ng-repeat="product in addItem.currentProducts" class="full-size"><span>{{ product.name }}</span> <span><a ng-click="selectProduct(product)">select</a> </span></li>
                        </ul>
                        <div ng-if="!addItem.waitingForProduct">
                            <p>How many {{addItem.selectedProduct.unit}} of {{ addItem.selectedProduct.name }} ?</p>

                            <div class="input-field">
                                <input placeholder="{{addItem.selectedProduct.unit}}" id="amount" type="number" class="validate" ng-model="addItem.productAmount">
                                <label for="amount">Amount <span ng-if="addItem.selectedProduct.unit">( {{addItem.selectedProduct.unit}} )</span></label>
                            </div>

                            <div class="input-field">
                                <input placeholder="{{addItem.selectedProduct.unit}}" id="limit_date" type="date" class="validate" ng-model="addItem.limit_date">
                            </div>


                        </div>
                    </div>
                    <div class="card-action">
                        <a class="waves-effect waves-light" ng-click="cancelItemAdding()">Cancel</a>
                        <a ng-click="saveItem()">Add <Item></Item></a>
                    </div>
                </div>
            </div>


        </div>

    </div>

    <div class="col s12 m12 l6">
        <div ng-include="'./main/recipes-suggestions.html'"></div>

        <div class="col s12 m6"  ng-if="!loading">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Soon obsolete</span>
                    <ul >
                        <li ng-repeat="item in obsolete_items" class="row"><span class="col s4">{{ item.product.name }}</span><span class="col s4">{{item.limit_date | date : 'dd/MM/yyyy'}}</span><span class="col s4 text-right">{{ item.quantity }} {{ item.product.unit}}</span> </li>
                    </ul>
                </div>
                <div class="card-action">
                    <!--<a href="#">Add receipe</a>-->
                    <!--<a href="#">Show more</a>-->
                </div>
            </div>
        </div>

        <div class="col s12 m6"  ng-if="!loading">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Last product added</span>
                    <ul >
                        <li ng-repeat="product in products.slice().reverse()" class="last_product"><span>{{ product.name }}</span> <span class="pull-right">{{ product.quantity }} {{ product.unit}}</span> </li>
                    </ul>
                </div>
                <div class="card-action">
                    <!--<a href="#">Show more</a>-->

                </div>
            </div>
        </div>
    </div>






    <!-- Modals -->
    <!-- Modal Trigger -->









</div>

