
<div class="card" ng-if="recipes.loading">
    <div class="card-content">
        <span class="card-title">Recipes loading .... </span>
    </div>
</div>


<div class="card" ng-if="!loading">
    <div class="card-content">
        <span class="card-title">Recipes Suggestions</span>
    </div>
</div> <!--end card-->


<div  ng-repeat="recipe in recipes.list">
    <div class="card " ng-if="!recipes.loading">
        <div class="card-content">
            <span class="card-title">{{recipe.name}}</span>

            <p>{{recipe.description}}</p>

        </div>
        <div class="card-action">
        <!--<a href="#">Add receipe</a>-->
            <a href="/#!/recipe/{{recipe.id}}">View</a>
        </div>
    </div>

</div>